* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyClass {
  background-color: #b3666657;
  height: 100vh;
  padding-top: 70px;
}

.headerClass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.margin-left {
  margin-left: 800px !important;
}

.text-center {
  text-align: center !important;
}

.btn {
  margin-right: 10px;
  padding: 10px;
  /* margin: 10px; */
  --bs-btn-border-radius: 50%;
}


.containerPane {
  background-color: #ffffff;
  overflow: auto;
  /* max-width: 90%; */
  width: calc(100% - 100px);
  margin: 20px auto;
  padding: 20px 30px;
  /* position: absolute; */
  /* transform: translate(-50%, 0%); */
  /* left: 50%; */
  /* top: 15%; */
  /* bottom: 5%; */
  height: calc(100% - 30px);
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  top: 0%;
}

.option-button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.highCol
{
  color: #ffffff
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 20px;
  border: none;
  outline: none;
  /* border: 1px solid #dddddd; */
  /* padding: 20px; */
  height: 80%;
  /* bottom: 5%; */
  overflow: auto;
}

/* .active:hover {
  background-color: #e0e9ff;
} */


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.slider {
  margin-top: 14px;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #FFFFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #E0C6C6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #E0C6C6;
  cursor: pointer;
}
